body {
    margin: 0;
    font-family: Indie Flower;
    color: black;
    background-color: #f4eed7;
}

.logo {
    background-image: url(background.gif);
}
.comingsoon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.comingsoon * {
    margin: auto;
}

.comingsoon img {
    height: 250px;
    margin-bottom: 0;
}

.comingsoon h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 44pt;
}

.comingsoon h2 {
    margin-top: 0;
}
