body {
   background-image: url(background.gif);
   margin: 0;
   font-family: Comfortaa;
   color: white;
}

.comingsoon {
   background: #000000de;
   width: 100%;
   height: 100%;
   display: flex;
   flex-flow: column;
}

.comingsoon * {
   margin: auto;
}

.comingsoon img {
   height: 250px;
   margin-bottom: 0;
}

.comingsoon h1 {
   margin-top: 30px;
   margin-bottom: 10px;
   font-weight: 300;
   font-size: 44pt;
}

.comingsoon h2 {
   margin-top: 0;
}
